---
import '../styles/global.css';

const { title, date, tags} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class=" flex items-center justify-center min-h-screen bg-gray-100 p-4">
    <main>
      <article>
        <header>
          <h1 class="post-title">{title}</h1>

          <p class="post-date"
            <time datetime={date.toISOString()}>
              {date.toDateString()}
            </time>
          </p>

          {tags && (
            <ul class="post-tags">
              {tags.map((tag) => (
                <li><span>{tag}</span></li>
              ))}
            </ul>
          )}
        </header>

        <section class="post-content">
          <slot />
        </section>
      </article>
    </main>
  </body>
</html>
