---
import '../styles/global.css';
import PageLayout from './PageLayout.astro';

const { title, date, tags} = Astro.props;

---
<PageLayout title={title}>
      <article>
        <header>
          <h1 class="post-title">{title}</h1>

          <p class="post-date">
            <time datetime={date.toISOString()}>
              {date.toDateString()}
            </time>
          </p>

          {tags && (
            <ul class="post-tags">
              {tags.map((tag) => (
                <li><span>{tag}</span></li>
              ))}
            </ul>
          )}
        </header>

        <section class="post-content">
          <slot />
        </section>
      </article>
</PageLayout>
